# General Aliases
alias ping='ping -c 4'
alias script='cd ~/Dropbox/coding/git/scripts'
alias rnote='vim ~/Dropbox/Rainmeter/Notes.txt'
alias rtask='vim ~/Dropbox/Rainmeter/Tasks.txt'
alias update='sudo apt-get update && sudo apt-get dist-upgrade'

# Dropbox class directories
alias 465='cd ~/Dropbox/coding/cins465'
alias 490='cd ~/Dropbox/coding/cins490'
alias 111='cd ~/Dropbox/coding/csci111'
alias 211='cd ~/Dropbox/coding/csci211'
alias 311='cd ~/Dropbox/coding/csci311'
alias 340='cd ~/Dropbox/coding/csci340'
alias 344='cd ~/Dropbox/coding/csci344'

# Universal Shell Aliases, should work with both Bash and ZSH.
alias mkdir='mkdir -p'
alias chown='chown -Rv'
alias chmod='chmod -Rv'
alias grep='grep --color=always'
alias diff='colordiff'
alias tar='tar --verbose'
alias tmux='tmux -2'
#alias rsync='rsync --verbose  --progress --stats --compress --recursive --times --perms --links exclude "*bak" --exclude "*~*"'
alias psaux='ps aux'
alias psl='psaux|more'
alias psg='psaux|grep'
alias df='pydf -a -h -B'
alias more='less'
alias tracert='mtr'
alias traceroute='mtr'

alias lla='ls -alF --group-directories-first --color=always'
alias ll='ls -l --group-directories-first --color=always'
alias la='ls -A --group-directories-first --color=always'
alias l='ls -CF --group-directories-first --color=always'
alias llg='ls -alF --group-directories-first --color=always|grep'
alias llm='ls -alF --group-directories-first --color=always|more'
alias lll='ls -alF --group-directories-first --color=always|more'
alias vm='vim'
alias vom='vim'
alias vi='vim'

alias gcn='git clone'
alias ga='git add'
alias gaa='git add -A'
alias gcm='git commit -m'
alias gcmu="git commit -m 'update'"
alias gcau="git commit -am 'update'"
alias gst='git status'
alias gpom='git push --all origin'
alias gpum='git pull --all upstream'
alias gfum='git fetch --all upstream'
alias gp='git pull --all'
alias gpa='git pull --all'
alias gf='git fetch --all'
alias grv='git remote -v'
alias grau='git remote add upstream'

# https://github.com/vigneshwaranr/bd
alias bd='. ~/bin/bd -s'
